@media (max-width: 575px) {
    
    .logo {
        width: 70px !important;
        height: 70px !important;
    }
    
    .textMenu {
        color: black !important;
    }
    
    .copy {
        padding: 25px !important;
    }

    .h-100 {
        width: 90%;
        font-size: 10px;
        margin: auto;
    }
    .video iframe {
        width: 100%;
        height: 160px !important;

    }
    .container {
        width: 90%;
    }

    .sliderText {
        top: 25% !important;
        
    }
    .sliderTextTitle {
        font-size: 40px !important;
    }
    
    .card-text {
        padding: 5px !important;
    }
    .card {
        width: 100% !important;
    }

}

@media (min-width: 576px) {

    .textMenu {
        color: white !important;
    }

}

@media (max-width: 767px) {
    .logo {
        width: 95px;
        height: 95px;
    }

    .footer {
        height: 75%;
    }
    
    .mainMargin {
        margin-top: 76px!important;
    
    }

    .sliderTextDesc {
        font-size: 15px !important;
    }

    .neon {
        font-size: 40px !important;
    }
    .copy {
        padding-top: 100px !important;
    }
}